<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
<div class="message">
<h1>CHANGE YOUR LIFE TODAY</h1>
<h2>No bullshit, just what you need to get in shape mentally and physically.</h2>
</div>
<%= image_tag("/assets/pink.jpg", alt: "pink", class: "img-responsive") %>

