
<div class="message">
  <h1>CHANGE YOUR LIFE TODAY</h1>
  <h2>No bullshit, just what you need to get in shape mentally and physically.</h2>
</div>

<%= image_tag("/assets/banana.jpg", alt: "banana", class: "img-responsive") %>




