<div class="box1">
  <h2 class="text1">I am not a personal trainer.<br>I am not IFBB pro.</h2>
</div>
<div class="box2">
  <h2 class="text2">I inspire women all over the world to accept and better themselves in a natural and holistic way.<br>Everything I do, I give 100% hardcore effort.<br>I build dream bodies.
  </h2>
</div>
